<div class="container text-center">
  <h1>All Tasks</h1>
  <ol id="tasks">
    <% @tasks.each do |task| %>
      <h3><%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a></h3>
      <a href="/tasks/<%= task.id %>/edit">Edit</a>
      <form class="" action="tasks/<%= task.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input class="btn btn-danger" type="submit" value="Delete">
      </form>
    <% end %>
  </ol>
</div>
